<div class="row" style="height:30px;">
</div>

<div class="row front">
		<div class="col-md-7">
		  <h1 style="text-align: center;">Welcome Red Team</h1>
          <p style="color: white; text-align: center;">
          <img src="/themes/airedteam/static/img/partners/ai_village_black-p-500.png" class="partner_icon" />
          <img src="/themes/airedteam/static/img/partners/humane_intelligence_black-p-500.png" class="partner_icon" style="max-width: 200px;" />
          <img src="/themes/airedteam/static/img/partners/seed_ai_black.png" class="partner_icon" />
          </p>
          <p>Generative AI has arrived and brought with it an explosion of creativity and entrepreneurship. However, we’re only beginning to understand the risks of deployment at scale and we can't leave that an open question.
At DEFCON 2023, we're bringing together thousands of people from different communities to conduct the largest red teaming exercise ever for any group of AI models at the Generative Red Team (GRT) Challenge.
          </p>
          <br>
          <br>
          <h1 style="text-align: center;">Participating Companies</h1>
          <p style="color: white; text-align: center;">
				<img src="/themes/airedteam/static/img/partners/Anthropic.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/cohere_logo_white-p-500.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/Google.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/HuggingFace.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/Meta.svg" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/Nvidia.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/OpenAI.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/ScaleAI.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/StabilityAI.png" class="partner_icon" />
          </p>
          <br>
          <br>
          <h1 style="text-align: center;">Public Sector Partners</h1>
          <p style="color: white; text-align: center;">
				<img src="/themes/airedteam/static/img/partners/WhiteHouse.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/NSF.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/CongressionalArtificalIntellgence.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/National Institute of Standards and Technology-1.svg" class="partner_icon" />
          </p>
          <br>
          <br>
          <h1 style="text-align: center;">Community Partners</h1>
          <p style="color: white; text-align: center;">
				<img src="/themes/airedteam/static/img/partners/HCC.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/BlackTechStreet.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/AVID.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/WilsonCenter.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/White_Transparent_AIID_short-p-500.png" class="partner_icon" />
				<img src="/themes/airedteam/static/img/partners/mitre_logo_white-p-500.png" class="partner_icon" />
          </p>
		</div>
    <div class="col-md-5">
        <div style="transform:rotate(-10deg); position: relative; top: -80px; height:800px; padding: 0px; float:right; text-align: right;">
				<img src="/themes/airedteam/static/img/avatars/robot001.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot002.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot003.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot004.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot005.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot006.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot007.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot008.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot009.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot010.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot011.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot012.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot013.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot014.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot015.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot016.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot017.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot018.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot019.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot020.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot021.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot022.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot023.png" class="avatar" />
				<img src="/themes/airedteam/static/img/avatars/robot024.png" class="avatar" />
		</div>
    </div>
</div>
